<!DOCTYPE html>
<html>
	<head>
	  <title>CodeEducate</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <script src="//load.sumome.com/" data-sumo-site-id="e5fdc6adbe80b7bc289c9c67105f9e9ccf3c70b765b2212d7ba397b595e804f4" async="async"></script>
	  <%= yield :head %>

	</head>
	<body>

		<%= render partial: "shared/header" %>		
		<%= render partial: "shared/message" %>
		
		<main>
			<div class="container">
				<%= yield %>		
			</div>
		</main>

		<%= render partial: "shared/footer" %>
	<script id="dsq-count-scr" src="//codeeducate.disqus.com/count.js" async></script>
	</body>

	<script>
		$(".button-collapse").sideNav();
		$(".dropdown-button").dropdown();
	</script>

</html>
