<!DOCTYPE html>
<html>
	<head>
	  <title>CodeEducate</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	  <script src="//load.sumome.com/" data-sumo-site-id="e5fdc6adbe80b7bc289c9c67105f9e9ccf3c70b765b2212d7ba397b595e804f4" async="async"></script>
	  <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110530100-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-110530100-1');
		</script>

		<!--Start of Zendesk Chat Script-->
		<script type="text/javascript">
			window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
			d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
			_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
			$.src="https://v2.zopim.com/?5IpdD2WDdId05hSdq14skYAFKG38Lo80";z.t=+new Date;$.
			type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
		</script>
		<!--End of Zendesk Chat Script-->
	  
	  <%= yield :head %>

	</head>
	<body>

		<%= render partial: "shared/header" %>		
		<%= render partial: "shared/message" %>
		
		<main>
			<div class="container">
				<%= yield %>		
			</div>
		</main>

		<%= render partial: "shared/footer" %>
	<script id="dsq-count-scr" src="//codeeducate.disqus.com/count.js" async></script>
	</body>

	<script>
		$(".button-collapse").sideNav();
		$(".dropdown-button").dropdown();
	</script>

</html>
